
html,body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

p,h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}

#overlay {
    background-color: #000000;
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1050;
    opacity: .50;
}

/* Style */

:root {
    --bs-danger-dark: #be2828;
    --bs-info-dark: #2894be;
}

body {
    background-color: var(--bs-light);
}

.navigation {
    background-color: var(--bs-dark);
}

.form-control:focus{
    box-shadow: none;
    border-color: var(--bs-danger);
}

.input-group-text, .btn {
    background-color: var(--bs-danger) !important;
    color: var(--bs-light) !important;
    border: 0 !important;
}

.btn:hover {
    background-color: var(--bs-danger-dark)!important;
}