{%-extends "base.html"-%}

{%-block head-%}
{%-endblock-%}

{%-block content-%}
<div class="row g-3 m-0 p-4 justify-content-center w-100">
    <div class="col-lg-12">
        <p class="fs-5 text-uppercase text-secondary text-center">Home</p>
    </div>
    <form class="col-lg-6" onsubmit="searchURL(); return false;">
        <div class="input-group mb-2">
            <span class="input-group-text"><i class="bi bi-link"></i></span>
            <input name="url" class="form-control" type="text" placeholder="Link" autocomplete="off" required>
            <button type="submit" class="btn" text-white>Fetch</button>
        </div>
    </form>
</div>
{%-endblock-%}

{%-block footer-%}
<script>
    function searchURL() {
        $('#overlay').show()
        window.location = '{{url_for("search")}}?url=' + document.querySelector('input[name="url"]').value;
    }
</script>
{%-endblock-%}