{%-extends "base.html"-%}

{%-block head-%}
<style>
    .cover {
        background-repeat: no-repeat;
        background-size: cover;
   }
</style>
{%-endblock-%}

{%-block content-%}
<div class="row g-3 m-0 p-4 justify-content-center w-100">
    <div class="col-lg-12">
        <p class="fs-5 text-uppercase text-secondary text-center">Library</p>
    </div>

    <div class="col-lg-3 d-none d-lg-flex align-items-center">
        <div class="input-group justify-content-center">
            <button class="btn" onclick="incrementColsLG()"><i class="bi bi-zoom-out"></i></button>
            <button class="btn" onclick="decrementColsLG()"><i class="bi bi-zoom-in"></i></button>
        </div>
    </div>

    <div class="col-lg-6">
        <form class="input-group" id="filter-form">
            <input id="filter-input" type="text" class="form-control" placeholder="Filter">
            <button type="submit" class="btn"><i class="bi bi-funnel"></i></button>
        </form>
    </div>

    <div class="col-lg-3 d-flex align-items-center">
        <div id="pagination-1" class="input-group justify-content-center"></div>
    </div>

    <div class="col-lg-12">
        <div id="library" class="row row-cols-1 row-cols-lg-4 g-3 m-0 justify-content-center"></div>
    </div>

    <div class="col-lg-12">
        <div id="pagination-2" class="input-group justify-content-center"></div>
    </div>
</div>

{%-endblock-%}

{%-block footer-%}
<script>const static = `{{url_for('static',filename='')}}`;</script>
<script src="{{url_for('static', filename='js/library.js')}}"></script>
<script src="{{url_for('static', filename='js/size_control.js')}}"></script>

<script>
    loadData('{{url_for("all_items")}}');

    function searchURL() {
        $('#overlay').show()
        window.location = '{{url_for("search")}}?url=' + document.querySelector('input[name="url"]').value;
    }

    async function actionFavorite(element, id) {
        let response = await fetch(`{{url_for("favorite")}}?item_id=${id}`);
        if (!response.ok) { sendAlert(`Network response: ${response.text()}`, 'danger'); return null; }
        data = await response.text();
        if (data == "1") {
            let icon = element.querySelector('i');
            if (icon.getAttribute('class') == 'bi bi-bookmark') {
                icon.setAttribute('class', 'bi bi-bookmark-fill');
            } else {
                icon.setAttribute('class', 'bi bi-bookmark');
            }
        }
    }
    async function actionDelete(id) {
        if ( confirm("are you shure you want to delete your link?") ) {
            let response = await fetch(`{{url_for('delete')}}/${id}`);
            result = await response.text();
            if ( result == 1 ) {
                console.log(result)
                let filter = libraryData.filter( item => item.item_id != id );
                libraryData = filter
                console.log(libraryData)
                filterData()
            }
        }
    }
    function actionEdit(url) {
        $('#overlay').show()
        window.location = `{{url_for('search')}}?url=${url}`
    }
    function actionGoTo(url) {
        window.open(url, '_blank').focus();
    }

    function actionSearchWeb(value){
        let url = `https://duckduckgo.com/?q=${encodeURIComponent(value)}`
        window.open(url, '_blank').focus();
    }

    function filterItems(element) {
        let filter = element.value.toLowerCase()
        let tags = document.querySelectorAll('[tags]');
        tags.forEach(tag => {
            let tagValue = tag.getAttribute('tags');
            if (tagValue.includes(filter)) {
                tag.classList.remove('d-none');
            } else {
                tag.classList.add('d-none');
            }
        });
    }







</script>
{%-endblock-%}
